.sort-container {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

.sort-btn {
    padding: 6px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 50px;
}

.sort-btn:hover {
    background-color: #0056b3;
}